body {
    background-color: rgba(245, 245, 245, 1)!important;
}
.posts {
    width: 80%;
    float: left;
}
.sidebar {
    width: 18%;
    float: right;
}
.clear {
    clear: both;
}
.panel-heading, .panel-footer, .content {
    text-align: center;
}
.leftAlign {
    text-align: left;
}
.postDate {
    /*10120374*/
    font-size: 11px;
}
ul {
    list-style-type: none;
    padding: 0;
}
.headingFontSize {
    font-size: 14px;
}
.list-group-item {
    text-align: center;
}
.comments {
    width: 50%;
    background-color: rgba(245, 245, 245, 0.5);
    margin: 0 auto;
    margin-bottom: 5px;
}
.well {
    width: 50%;
    margin: 0 auto;
}
.login {
    margin-top: 14px;
}
.loginForm {
    /*width: 250px;*/
    width: 18%;
    margin: 0 auto;
    margin-top: 20px;
}
.loginF {
    border: 1px solid transparent;
    padding-top: 20px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    background-color: rgba(231, 231, 231, 0.48);
}
.formGroup {
    margin-right: 0!important;
}
a:hover {
    text-decoration: none!important;
}
.back {
    border-color: #CACACA;
}

