.login {
    margin-top: 14px;
}
.loginForm {
    width: 500px;
    margin: 0 auto;
}
.panel-body {
    float: left;
    width: 880px;
}
.panel-default {
}
.sidebar-wrapper {
    width: 250px;
    height: 300px;
    float: right;
    margin-top: 15px;
}
.sidebar-wrapper>div {
    padding: 10px;
}